<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>• Portfolio</title>
        
        <link rel="icon" href="Images/PFP.jpg"/>
        <link rel="stylesheet" href="Css/Index.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    </head>

    <body>
        <div class="main-container">
            <!-- Header -->
            <header>
                <!-- Image - Maybe your face idk -->
                <img class="pfp" src="Images/PFP.jpg" alt="I am bob">
                
                <!-- Name -->
                <h2 class="text mb0">Jeremiah J.</h2>

                <!-- About me -->
                <p class="text custom-width">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit debitis, ducimus vitae numquam fugiat ullam quisquam assumenda? Eveniet corrupti, impedit inventore exercitationem suscipit, magnam dolore libero repellat quisquam velit reprehenderit?
                </p>
            </header>
                
            <!-- Responsive sections -->
            <hr/>
            <section>
                <!-- Section Title (not needed) -->
                <h2 class="text">Projects</h2>
            
                <div class="carousel-container">
                    <div class="carousel">
                        <!-- Items -->
                        <div class="carousel-item">
                            <img src="Images/PFP.jpg" alt="Project 1">
                            <div class="carousel-text">
                                <h3>Project 1</h3>
                                <p>Lorem ipsum dolor, sit amet lore consectetur adipisicing elit. Laboriosam soluta maxime repudiandae numquam, excepturi voluptas distinctio eveniet ab, odit inventore cupiditate dicta exercitationem reiciendis iure officia, corporis voluptates architecto magnam!</p>
                                <div class="project-buttons">
                                    <a href="https://github.com"><i class="bi bi-github"></i></a>
                                    <a href="https://github.com"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="Images/PFP.jpg" alt="Project 2">
                            <div class="carousel-text">
                                <h3>Project 2</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis ab ipsum exercitationem adipisci libero officiis distinctio, inventore in neque qui est repudiandae architecto obcaecati accusantium repellendus aliquid voluptas tenetur sunt?</p>
                                <div class="project-buttons">
                                    <a href="https://github.com"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="Images/PFP.jpg" alt="Project 2">
                            <div class="carousel-text">
                                <h3>Project 3</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis ab ipsum exercitationem adipisci libero officiis distinctio, inventore in neque qui est repudiandae architecto obcaecati accusantium repellendus aliquid voluptas tenetur sunt?</p>
                                <div class="project-buttons">
                                    <a href="https://github.com"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Github Stats -->
            <hr/>
            <section>
                <h2 class="text">Github Stats</h2>
                <img class="mb1" src="https://github-readme-streak-stats.herokuapp.com/?user=mrlolegic&theme=vue-dark&hide_border=false"/>
                <img class="mb1" src="https://github-readme-stats.vercel.app/api?username=mrlolegic&theme=vue-dark&show_icons=true&hide_border=false&count_private=true">
                <img class="mb1" src="https://github-readme-stats.vercel.app/api/top-langs/?username=mrlolegic&theme=vue-dark&show_icons=true&hide_border=false&layout=compact">
            </section>
            
            <!-- Footer -->
            <hr/>
            <footer>
                <!-- Socials -->
                <nav>
                    <ul class="icons">
                        <li><a href="https://github.com"><i class="bi bi-github"></i></a></li>
                        <li><a href="https://discord.com"><i class="bi bi-discord"></i></a></li>
                        <li><a href="https://youtube.com"><i class="bi bi-youtube"></i></a></li>
                        <li><a href="whatever the hell linkedin's url is"><i class="bi bi-linkedin"></i></a></li>
                        <li><a href="snapchatter"><i class="bi bi-snapchat"></i></a></li>
                        <li><a href="instgram(ers)"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </nav>
                <h3 class="text sm-text">&copy; • Jeremiah J.</h3>
            </footer>
        </div>
        <script src="Javascript/Carousel.js"></script>
    </body>
</html>